demo/HttpHelloWorld/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@triggerBody()?['address']?['country']",
                                "Finland"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Record_inside_Finland": {
                        "type": "Response",
                        "kind": "http",
                        "inputs": {
                            "statusCode": 200,
                            "body": {
                                "phone": "@{triggerBody()?['phone']}"
                            }
                        },
                        "runAfter": {}
                    }
                },
                "runAfter": {},
                "else": {
                    "actions": {
                        "Record_outside_Finland": {
                            "type": "Response",
                            "kind": "http",
                            "inputs": {
                                "statusCode": 401,
                                "body": {
                                    "error": "This record is not from 'Finland'."
                                }
                            },
                            "runAfter": {}
                        }
                    }
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "phone": {
                                "type": "string"
                            },
                            "address": {
                                "type": "object",
                                "properties": {
                                    "country": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string"
                                    },
                                    "street": {
                                        "type": "string"
                                    },
                                    "postalCode": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateless"
}